# This file contains the operator version definition for the WORKLOAD CLUSTERS.
# In order to update an operator, point to the new CSV and/or channel.
# WARNING: make sure to follow supported upgrade paths for the operators

# The following versions match TNC 3.0
odf-channel=stable-4.14
odf-startingCSV=odf-operator.v4.14.6-rhodf
rhacs-channel=rhacs-4.5
rhacs-startingCSV=rhacs-operator.v4.5.3
logging-channel=stable-5.9
logging-startingCSV=cluster-logging.v5.9.0
amq-channel=amq-streams-2.6.x
amq-startingCSV=amqstreams.v2.6.0-2
compliance-channel=stable
compliance-startingCSV=compliance-operator.v1.4.0
loki-channel=stable-5.9
loki-startingCSV=loki-operator.v5.9.0
sriov-startingCSV=sriov-network-operator.v4.14.0-202408130911
sriov-channel=stable
metallb-startingCSV=metallb-operator.v4.14.0-202401302240
metallb-channel=stable
nmstate-startingCSV=kubernetes-nmstate-operator.4.14.0-202401292111
nmstate-channel=stable
ossm-channel=stable
ossm-startingCSV=servicemeshoperator.v2.5.0
elastic-channel=stable-5.8
elastic-startingCSV=elasticsearch-operator.v5.8.5
jaeger-channel=stable
jaeger-startingCSV=jaeger-operator.v1.57.0-10
kiali-channel=stable
kiali-startingCSV=kiali-operator.v1.73.4
certmanager-channel=stable-v1.13
certmanager-startingCSV=cert-manager-operator.v1.13.0
keda-channel=stable
keda-startingCSV=custom-metrics-autoscaler.v2.12.1-394
numa-channel=4.14
numa-startingCSV=numaresources-operator.v4.14.4
securityprofiles-channel=release-alpha-rhel-8
securityprofiles-startingCSV=security-profiles-operator.v0.8.5
fileintegrity-channel=stable
fileintegrity-startingCSV=file-integrity-operator.v1.3.4
