# This file contains the operator version definition for the cluster.
# In order to update an operator, point to the new CSV and/or channel.
# WARNING: make sure to follow supported upgrade paths for the operators

# The following versions match TNC 3.0
talm-channel=4.14
talm-startingCSV=topology-aware-lifecycle-manager.v4.14.4
lso-channel=stable
lso-startingCSV=local-storage-operator.v4.14.0-202403261739
acm-channel=release-2.10
acm-startingCSV=advanced-cluster-management.v2.10.2
oadp-channel=stable-1.3
oadp-startingCSV=oadp-operator.v1.3.1
mce-channel=stable-2.5
mce-startingCSV=multicluster-engine.v2.5.2
gitops-channel=gitops-1.12
gitops-startingCSV=openshift-gitops-operator.v1.12.1
odf-channel=stable-4.14
odf-startingCSV=odf-operator.v4.14.6-rhodf
rhacs-channel=rhacs-4.5
rhacs-startingCSV=rhacs-operator.v4.5.3
logging-channel=stable-5.9
logging-startingCSV=cluster-logging.v5.9.0
amq-channel=amq-streams-2.6.x
amq-startingCSV=amqstreams.v2.6.0-2
quay-channel=stable-3.11
quay-startingCSV=quay-operator.v3.11.0
aap-channel=stable-2.4-cluster-scoped
aap-startingCSV=aap-operator.v2.4.0-0.1713467078
compliance-channel=stable
compliance-startingCSV=compliance-operator.v1.4.0
loki-channel=stable-5.9
loki-startingCSV=loki-operator.v5.9.0
