# Repository configuration
ztp_repo=https://network.git.cz.o2/redhatocp/cfg_base_workload.git
ztp_repo_target=main
ztp_repo_policies_path=ztp/site-policies
ztp_repo_siteconfig_path=ztp/site-config
ztp_acm_policies_path=acm/base/
ztp_util_acm_policies_path=acm/util_base/